@media (max-width: 768px) {

    /*-------------Header section------------*/
    .menu ul {
        display: none;
    }

    .menu_btn {
        width: 22px;
        height: 3px;
        background-color: #FFFFFF;
        position: relative;
        transform: translateY(15px);
    }

    .menu_btn::before,
    .menu_btn::after {
        content: " ";
        position: absolute;
        width: 22px;
        height: 3px;
        background-color: #FFFFFF;
    }

    .menu_btn::before {
        top: -6px;
    }

    .menu_btn::after {
        top: 6px;
    }

    /*-------------Main section------------*/
    main {
        text-align: left;
    }

    .main_text {
        display: block;
    }

    .main_text p+p {
        padding-top: 24px;
    }


    /*-------------Learn more section------------*/
    .learn-more-button {
        width: 100px;
        height: 100px;
    }

    .learn-more-button::before {
        
        width: 40px;
        background-size: 80%;
        top: 15px;
        left: 35px;
    }

    /*-------------Footer section------------*/
    footer .container{
        height: 290px;
        display: block;
        text-align: center;
        padding: 0;
    }
    footer .container *+*{
        padding-top: 20px;
    }
    .footer_logo{
        padding-top: 60px;
        padding-bottom: 30px;
    }
}