* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
}

body * {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    margin: 0;
}

/*======================================
-----------------HEADER-----------------
=======================================*/

header .container {
    position: relative;
    max-width: 900px;
}

.header_content {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 45px 27px 0 27px;
    width: 100%;
}

.header_text {
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    
    padding-top: 8px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
}

.menu li+li {
    padding-left: 32px;
}

.menu a {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.menu a:hover {
    border-bottom: 2px solid #FFFFFF;
}

/*======================================
-------------HERO SECTION---------------
=======================================*/

.hero {
    background: center no-repeat url(../assets/background_1.jpg);
    height: 800px;
    text-align: center;
}

.hero .container {
    padding-top: 250px;
}

.hero_logo {
    padding-bottom: 10px;
}

.hero h2 {
    color: #FFFFFF;
    opacity: 70%;
    padding-top: 30px;
}

/*======================================
-----------------MAIN--------------------
=======================================*/

main {
    text-align: center;
}

.main_heading {
    color: #464547;
}

main .container {
    background-color: #EEEEEE;
    padding: 65px 27px 0 27px;
}

main h3 {
    color: #666666;
    padding-top: 35px;
    padding-bottom: 45px;
}

.main_text {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0, 410px));
    gap: 80px;
    text-align: initial;
}

.main_text p {
    font-size: 16px;
    line-height: 22px;
    color: #666666;
}

.content-button {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background-color: #55C2D8;
    border-radius: 18px;
    border: none;
    text-transform: uppercase;
    width: 115px;
    height: 36px;
    margin-top: 45px;
    margin-bottom: 98px;
}

/*======================================
-------------LEARN MORE SECTION----------
=======================================*/

.learn-more {
    background: center no-repeat url(../assets/background_2.jpg);
    text-align: center;
    z-index: 10;
    
}
.learn-more br{
    display: none;
}
.learn-more .container {
    background: rgba(140, 79, 42, 0.3);
    z-index: 5;
    height: 637px;
    padding: 0 27px;
}

.learn-more_heading {
    padding-top: 84px;
}

.learn-more_text {
    padding-top: 70px;
    color: #FFFFFF;
}

.learn-more-button {
    margin-top: 53px;
    width: 150px;
    height: 150px;
    background: #39C2D7;
    border-radius: 50%;
    border: none;
    color: #FFFFFF;
    position: relative;

}

.learn-more-button::before {
    content: " ";
    background: url(../assets/triangle_poly.png) center no-repeat;
    position: absolute;
    background-size: 100%;
    width: 55px;
    height: 70px; 
    top: 42px;
    left: 55px;
}

/*======================================
----------------FOOTER------------------
=======================================*/

footer * {
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    font-style: normal;
}

footer .container {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 40% 60%;
    gap: 0px 0px;
    grid-template-areas:
        "footer_logo footer_address ."
        ". footer_email footer_copyright";

    background-color: #464547;
    height: 200px;
    padding: 37px 150px 0;
}

.footer_logo {
    grid-area: footer_logo;
}

.footer_address {
    grid-area: footer_address;
}

.footer_email {
    grid-area: footer_email;
}

.footer_copyright {
    grid-area: footer_copyright;
}

.footer_logo span {
    padding-left: 15px;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_address::after {
    content: "\a";
    white-space: pre;
}